<section class="w-56 relative">
  <img src="/bush.png" alt="Imagen arbusto" class="absolute z-2" />
  <img
    src="/rabbit.png"
    alt="Imagen conejo"
    class="max-w-full h-24 cursor-pointer relative left-12 top-6"
  />
</section>
